/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Mar 7, 2016, 5:10:12 PM
    Author     : yongyi
*/

$dark: #424652;
$light: #9a9da4;
$highlight: #8bc6db;
$border: #e9e9e9;
$white: #FFFFFF;

#posts_wrapper {
  padding: 3em 0;
  .post {
    text-align: center;
    .date {
      font-size: .9em;
      margin: 0;
    }
    h2 {
      margin: 0;
      margin-bottom: 0;
      text-align: center;
      font-size: 2em;
      text-transform: uppercase;
      a {
        text-decoration: none;
        color: $dark;
        &:hover {
          color: $highlight;
        }
      }
    }
    hr {
      margin: 3em auto;
    }
  }
}

// - - - - - Post Show

#post_show_content {
  header {
    text-align: center;
    .date {
      font-size: .9em;
      color: $light;
      margin: 0;
    }
    h1 {
      margin: 0;
    }

  }
  hr {
    margin: 3em auto;
  }
}

#share_box {
  text-align: center;
  p {
    padding: 0 0 1rem 0;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    color: $dark;
    font-size: .8em;
  }
  i {
    color: $dark;
    padding: 1em 1.5em;
    &:hover{
      color: $highlight;
      cursor: pointer;
    }
  }
}

// - - - - - Pagination
.pagination:before, .pagination:after {
  content: " ";
  display: table;
}

.pagination:after {
  clear: both;
}

.pagination {
  text-align: center;
  margin: 0 0 3em 0;
  a, .previous_page, .current, .next_page{
    padding: .75em 1em;
    margin: 0 .5em;
    border-radius: .15em;
    line-height: 20px;
    text-decoration: none;
    background: $white;
    font-weight: 700;
    font-size: .7em;
    font-style: normal;
    color: $dark;
    &:hover {
      background: $highlight;
      color: $white;
    }
  }
  .current {
    background: $highlight;
    color: $white;
  }
  .disabled {
    color: #C0C0C0;
    &:hover {
      color: #C0C0C0;
      background: $white;
    }
  }
}

